
.nav-container {
    flex-grow: 0;
}

.jumbotron {
    background: rgb(233,236,239);
}

.thumb {
    height:200px;
    background: gray;
}

.single-card {
    width: 230px;
}

@media only screen and (max-width: 991px) {
    .nav-container {
        flex-grow: initial;
    }
  }

  @media only screen and (max-width: 750px) {
    .single-card {
        width: 100%;
    }
  }
